
.energy-value:after{
  content:' ';
}

.energy-rules {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;

  &-bar {
    width: 100%;
    height: 83px;
  }

  &-content {
    width: 100%;
    position: absolute;
    top: 83px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    overflow-x: hidden;
    margin: 0 auto;

    &-table {
      width: 100%;
      padding: 0px 35px;
      margin-top: 35px;
      box-sizing: border-box;
      height: calc(100% - 121px);

      & > div {
        width: 100% !important;
        height: 100% !important;

        .fixedDataTableCellLayout_main {
          border-width: 0px;
        }

        .public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
          background-color: rgb(81, 95, 109) !important;
          background-image: linear-gradient(rgb(81, 95, 109), rgb(81, 95, 109));
          color: #fff;
          border: 0px;
        }

      }
    }

    &-edit {
      width: 100%;
      height: 100%;
      display: block;

      &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        & > form {
          width: 700px;
          margin:0 auto;
        }
      }
    }

  }

}