
.file-uploader {
  width: 100%;
  height: 100%;

  &-imageBox {
    width: 100%;
    height: 144px;
    box-sizing: border-box;
    position: relative;
    outline: 1px solid rgb(211, 211, 211);

    &-icon {
      position: absolute;
      top: -10px;
      right: -10px;
      color: #fdb32b !important;
      font-size: 18px;
      background-color:#fff;
      border-radius: 9px;
    }

    &-icon {
      cursor: pointer;
    }

    &-image {
      width: 240px;
      height: 144px;

      &:hover {
        cursor: pointer;
      }
    }

  }

  &-wrapper {
    width: 240px;
    height: 144px;
    background-color: rgb(234, 240, 244);
    border: 5px solid #fff;
    outline: 1px solid rgb(211, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(203, 203, 203);

    &:hover {
      cursor: pointer;
    }

    &-icon {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }

    & > span {
      margin-top: 5px;
    }
  }

}

.file-picker {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid rgb(211, 211, 211);
  background-color: #fff;

  &-wrapper {
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(234, 240, 244);

    &-content {
      height: 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      color: rgb(199, 199, 199);

      & > span:first-child {
        font-size: 35px;
      }

      &:hover {
        cursor: pointer;
      }

    }

  }

}